body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  background-color: cornflowerblue;
  /*max-width: 1900px;*/
  width: 98%;
  min-height: 200px;
  max-height: 3000px;
  
  height: 100%;
}
